* {
    box-sizing: border-box;
}

.mm {width: 20mm;}
.cm {width: 1cm;}
.in {width: 1in;}
.rem {width: 3rem;}
.em {width: 3em;}
.pct {width: 10%;}
.px {width: 100px;}

.ruler {
    background-color: orange;
    text-align: center;
    margin-top: .75rem;
    margin-bottom: .75rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    font-size: 1rem;
    border: 1px solid black;
}