nav ol {
    padding: 0;
}
/*  */
nav ol li:first-child a {
    background-color: var(--dark-green);
    color:lime;
    padding: 4px 6px;
    border-radius: 4px;
}

/* The tilde ~ means "subsequent sibling" */
/* So this is styling before an li that comes after an li */
nav li ~ li::before {
    content: '/';
    padding-right: 5px;
}
nav ol li{
    display: inline-flex;
}
nav ol li a {
    text-decoration: none;
}
nav ol li a:hover {
    text-decoration: underline;
}