/* my first css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hwb(214 42% 10% / 0.733);
}

img {
    border: .5rem solid rgba(241, 241, 52, 0.749);
    /* border-radius: 1rem; */
    border-radius: 18%;
}

h1 {
    border: 0.3rem dotted red;
    text-decoration: lime underline .1em;
}

h2 {
    background-color: azure;
}

h3 {
    border: solid;
    background-color: white;
}

p {
    border: 0.2rem solid orange;
    border-radius: .5em;
}

blockquote p {
    border: none;
}

ul a {
    color: rgb(40, 74, 242);
    font-weight: bold;
    font-style: italic;
}
ul a:link {
    text-decoration: none;
}
ul a:hover {
    color: pink;
}
a.harvard {
    color: maroon;
}
ul li {
    color: rgb(217, 111, 243);
    text-transform: italic;

}

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

cite {
    font-size: 1.5rem;
    font-weight: bold;
}

/* classes start with a period */
.bigbold {
    font-weight: bold;
    font-size: 1.3rem;
}

.pbj {
    color:magenta;
}

.blah {
    font-weight: 1;
}

.rotate {
    transform: rotate(-30deg);
}

.warning {
    color: red;
    font-weight: bold;
}

#heading {
    text-transform: uppercase;
}

p img {
    border-color:brown
}

.height {
    line-height: 12em
}

#about {
    color:grey;
    font-style: italic;
}