body {
    height: 100vh;
    width: 100vw;
    background-color: lightgreen;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

.game {
    width: 80%;
    background-image: url(./images/background.png);
    background-size: cover;
}

.flex {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 2px solid red;
    padding: .8em;
}

.bottom-row {
    justify-content: space-around;
}

.hole {
    background-color: black;
    border-radius: 50%;
    width: 20%;
    aspect-ratio: 1;
}

.hole img {
    width: 100%;
}