:root {
    --percent: 0%;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: lightgreen;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    cursor: url(./images/cursor.png), default;
}

.game {
    max-width: 95%;
    background-image: url(./images/background.png);
    background-size: cover;
}

.worm img {
    width: 100%;
    height: auto;
    clip-path: polygon(0 0, var(--percent) 0, var(--percent) 100%, 0 100%)
}

.flex {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: .8em;
}

.bottom-row {
    justify-content: space-around;
}

.hole {
    background-color: black;
    border-radius: 50%;
    width: 20%;
    aspect-ratio: 1;
}

.hole img {
    width: 100%;
}

.hungry {
    cursor: url(./images/cursor-worm.png), default;
}

.gone,
.hide {
    display: none;
}

.win {
    max-width: 95%;
    max-height: 95%;
    background-image: url(./images/win.png);
    background-size: cover;
}