/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600"); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

h1 {
  /* padding: 10px; */
  font-family: "Open Sans";
  font-size: 18px;
  color: #109cf1;
  font-weight: 600;
}

.medium_14 {
  font-weight: 500;
  font-size: 14px;
}

.medium_11_gray {
  font-weight: 500;
  font-size: 11px;
  color: #90a0b7;
}

.medium_12_gray,
.task-type {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #90a0b7;
}

.medium_13_darkblue {
  font-weight: 500;
  font-size: 13px;
  color: #334d6e;
}

.medium_15_black {
  font-weight: 500;
  font-size: 15px;
  color: #192a3e;
}

.medium_15_tableblack,
.task-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #323c47;
}

.regular_13_tablegrey,
.assignee-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #707683;
}

.o50 {
  opacity: 50%;
}

.saas {
  height: 100%;
  display: flex;
  flex-direction: row;
  font-family: "Poppins";
  /* border: 4px solid purple; */
}

.sidebar {
  display: flex;
  flex-direction: column;
  /* width: 256px; */
  width: 20%;
  height: 100%;
  z-index: 1;
  background: #ffffff;
  box-shadow: 6px 0px 18px 0px #0000000f;
}

.sidebar > h1,
.sidebar > .profile,
.sidebar ul,
.sidebar > .settings,
.sidebar > .toggle {
  padding-inline: 24px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  /* padding-bottom: 10px; */
  border-bottom: 1px solid #ebeff2;
}

.sidebar li,
.settings,
.toggle {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #192a3e;
  /* padding: 8px; */
  padding-block: 10px;
}

.sidebar li span,
.settings span,
.toggle span {
  padding-left: 14px;
}

.toggle {
  margin-top: auto;
  /* padding: 22px 27px; */
}

.sidebar svg {
  /* margin: 2px 8px; */
}

.sidebar li.selected,
.sidebar li:hover,
.sidebar .settings:hover,
.sidebar .toggle:hover span {
  color: #109cf1;
  cursor: pointer;
}

.sidebar li.selected svg path,
.sidebar li:hover svg path,
.sidebar .settings:hover svg path,
.sidebar .toggle:hover svg path {
  stroke: #109cf1;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  /* border: blue solid 3px; */
  border-top: solid 1px #ebeff2;
  /* background: greenyellow; */
}

.profile > img {
  /* margin: 20px; */
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 16px;
  padding-block: 24px;
  /* border: solid red 2px; */
  /* margin-top: 16px; */
}

.name {
  /* border: orange solid 3px; */
}

.email {
  /* border: purple solid 3px; */
}

.main-content {
  display: flex;
  flex-direction: column;
  /* border: yellow solid 4px; */
  background-color: #f5f6f8;
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background: #ffffff;
  /* border: pink solid 3px; */
}

.sidebar h1 {
  padding-block: 1rem;
}

.search-input {
  border: 0;
  font-family: inherit;
  color: #90a0b7;
  width: 90%;
}

.search-input::placeholder {
  color: #90a0b7;
}

#search-icon {
  margin-right: 0.5rem;
}

.dashboard {
  display: flex;
  width: 100%;
  /* height: 100%; */
  /* padding: 10px; */
  /* margin: 36px 20px; */
  /* border: goldenrod 4px dashed; */
}

.panel {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  margin: 0.25rem;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding-inline: 1.5rem;
}

.main-panel {
  flex-basis: 60%;
}

.date-picker {
  display: flex;
  justify-content: space-between;
  /* border: aqua 4px solid; */
  margin-block: 1rem;
}

.date-picker button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: inherit;
  border: 0;
  font-family: inherit;
}

.date-picker button span {
  color: #334d6e;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.01em;
  opacity: 0.5;
}

.date-picker button div {
  color: #4c5862;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;
  justify-content: center;
  padding: 0.25rem;
  width: 24px;
  height: 24px;
}

.date-picker button.current div {
  /* border: solid red 2px; */
  background: #109cf1;
  color: #ffffff;
  border-radius: 50%;
}

/* .date-picker button:hover span, */
/* .date-picker button:hover div { */
.date-picker button:hover *,
.date-picker button.hovered * {
  color: #109cf1;
  opacity: 100;
  cursor: pointer;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  border-bottom: 1px solid #ebeff2;
}

.completion {
  /* border: 3px dashed red; */
}

.progress-bar-container {
  background: #ebeff2;
  border-radius: 3px;
}

.progress-bar {
  background: #2ed47a;
  border: #2ed47a solid 2px;
  width: 80%;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.side-panel {
  /* flex: 2; */
}

.show {
  display: flex;
  align-items: center;
}

.show label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #6a707e;
}

.show select {
  border: 0;
  color: #109cf1;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  appearance: none;
  padding-inline: 5px;
}

.show select:hover {
  cursor: pointer;
}

.task {
  /* border: black solid 1px; */
  margin: 18px;
  padding: 1rem;
  box-shadow: 0px 2px 10px 0px #00000014;
}

.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-name {
}

.due-date {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.due-date span:first-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #4c5862;
  opacity: 0.5;
}

.due-date span:last-child {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #4c5862;
}

.task-bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.75rem;
  /* border: lime 3px solid; */
}

.asignee {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.asignee-img {
  margin-right: 0.75rem;
}

.glyphs {
  display: flex;
  justify-content: space-between;
}

.edit-icon,
.delete-icon {
  display: none;
}

.task:hover {
  box-shadow: 0px 0px 16px 0px #00000024;
  cursor: pointer;
}

.task:hover .edit-icon,
.task:hover .delete-icon {
  display: inline-block;
}

.flag {
  width: 84px;
  height: 22px;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 22px; /*match height to center vertically*/
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.flag.completed {
  background-color: #2ed47a;
}

.flag.ended {
  background-color: #f7685b;
}

#deals-graph {
  width: 90%;
}

.tasks-chart-legend {
  display: flex;
  flex-direction: column;
  border: red 2px solid;
}

.graph-label {
  height: 20px;
  /* width: 200px; */
  /* background: turquoise; */
}

.tasks-chart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#tasks-chart {
  width: 50%;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }

  /* .panel,
  .main-panel,
  .side-panel */
  .panel {
    margin: 0;
  }

  .panel-name {
    visibility: hidden;
  }

  #show-more {
    display: none;
  }

  .date-picker * {
    display: none;
  }

  .task:hover .edit-icon {
    display: none;
  }
}

/* @media (max-width: 1380px) { */
@media (max-width: 800px) {
  .dashboard {
    flex-direction: column;
  }
}

@media (max-width: 1073px) {
  .profile-info {
    visibility: hidden;
  }
}
