.flex {
    display: flex;
}
.column {
    flex: 50%;
}
label {
    /* font-size: 0.75rem; */
    /* border: 1px solid blue; */
    padding: 0 .5rem;
    display: flex;
    align-items: center;
}
input[type="checkbox"] {
    margin: 0.05rem 1.25rem 0.05rem 0;
    width: 1.25rem;
    height: 1.25rem;
}
div input[type="text"] {
    width: 75%;
    margin-left: 0.5rem;
}
div input[type="number"] {
    width: 1.75rem;
    margin-right: 0.5rem;
    height: 1.25rem;
}
input {
    border: none;
    border-bottom: 1px solid;
    font-size: medium;
}
span {
    font-size: 0.85rem;
}
textarea {
    padding: 0;
    margin-left: 0.5rem;
    /* width: 100%; */
    font-size: medium;
}
p {
    padding:  0.5rem;
}
span {
    padding-left: .1rem;
}